@model DetailsViewModel
@{
    ViewData["Title"] = "Details";
}
<h1>Car Detail</h1>
<figure class="figure">
    <img style="height:350px;width:600px;" src="@Model.CarImageUrl" class="rounded float-left" alt="Image can not be loaded">
    <figcaption class="figure-caption text-right">@Model.Model-@Model.KilometersTravlled km<br>Type: @Model.Type-Plate Number :@Model.PlateNumber</figcaption>
</figure>
<h3>Trip Description</h3>
<div>
    <p>@Model.TripDescription</p>
</div>
<a href="/Trips/Join?userId=@Model.UserId" class="btn btn-primary">Join Trip</a>
